# .env.example - Copy this to .env and fill in your values.

# Jenkins Admin User
ADMIN_USER=admin
ADMIN_PASS=

# Jenkins URL
# Use your computer's network IP, not localhost.
JENKINS_URL=http://IP:8086/

# Shared Library
LIB_GIT_URL=https://github.com/GauravYadav9/jenkins-pipeline-library.git
LIB_DEFAULT_BRANCH=main

# Email Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USE_SSL=false
SMTP_USE_STARTTLS=true
SMTP_REPLY_TO=your-email@gmail.com
SMTP_USERNAME=your-email@gmail.com
SMTP_PASSWORD="your-google-app-password"

# Pipeline Credentials
QASE_API_TOKEN=
RECIPIENT_EMAILS=
DEV_RECIPIENT_EMAILS=